<div class="container">
  <ul ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
    <li ngbNavItem="consultas">
      <a ngbNavLink>
        <img src="/assets/icons/consultas.svg" alt="">
        Consultas</a>
    </li>
    <li ngbNavItem="optometras">
      <a ngbNavLink>
        <img src="/assets/icons/optometras.svg" alt="">
        Optometras</a>
    </li>
    <li ngbNavItem="pacientes">
      <a ngbNavLink>
        <img src="/assets/icons/pacientes.svg" alt="">
        Pacientes</a>
    </li>
    <li ngbNavItem="productos">
      <a ngbNavLink>
        <img src="/assets/icons/productos.svg" alt="">
        Productos</a>
    </li>
    <li ngbNavItem="ventas">
      <a ngbNavLink>
        <img src="/assets/icons/ventas.svg" alt="">
        Ventas</a>
    </li>
  </ul>
</div>
